* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);
  --brown900: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
  --paragraphFontSize: 16px;
}

main {
  background-color: var(--stone100);
  width: 100%;
  height: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 700px;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 50px;
}

.image {
  width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 40px;
}

h1 {
  text-align: left;
  color: var(--stone900);
  font-size: 2em;
  margin-bottom: 20px;
}

h1,
.page-headers {
  font-family: "Young Serif", sans-serif, serif;
}

p,
li,
span {
  font-family: "Outfit", sans-serif, serif;
  color: var(--stone600);
}

.text-content {
  display: flex;
  padding: 0 5px;
  flex-direction: column;
}

.description {
  color: var(--stone600);
  line-height: 150%;
  margin-bottom: 20px;
}

.page-headers {
  color: var(--brown900);
  margin-bottom: 20px;
}

.prep-time {
  background-color: var(--rose50);
  border-radius: 10px;
  padding: 20px 35px;
  margin-bottom: 20px;
}

.prep-time-header {
  font-family: "Outfit", sans-serif, serif;
  font-weight: bold;
  color: var(--rose800);
  margin-bottom: 10px;
}

.prep-time ul {
  line-height: 190%;
}

.prep-time ul li::marker {
  color: var(--rose800);
}

.ingredients-list {
  padding-left: 20px;
  margin-bottom: 15px;
}

.ingredients-list li {
  margin-bottom: 10px;
}

.ingredients-list li::marker {
  color: var(--brown900);
}

.linebreak {
  color: var(--stone100);
}

.instructions-list li::marker {
  color: var(--brown900);
  font-weight: bold;
}

.instructions-list {
  line-height: 150%;
  margin-bottom: 20px;
}

.number {
  color: var(--brown900);
  font-weight: bold;
}

td {
  border-bottom: 1px solid var(--stone150);
  padding: 10px 20px;
}

.instructions {
  margin-top: 20px;
}

.nutrition {
  margin-top: 20px;
}

.nutrition-text {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .card {
    width: 100vw;
  }

  .image {
    margin-top: 12em;
  }
}
